:root {
  --colorBlanco: #ffffff;
  --colorGris: #919191;
  --colorGrisClaro: #e6e6e6;
  --colorNegro: #000000;
  --colorNegroClaro: #222222;
  --colorCrema: #ebe8e5;
  --fontInter: 'Inter', sans-serif;
  --fontNunito: 'Nunito Sans', sans-serif;
  --colorAzulCielo: #5555ff;
  --colorRojo: #e00000;
}
body {
  margin: 0;
  background-color: var(--colorBlanco);
  color: var(--colorNegro);
}
.darkMode {
  background-color: #172A46;
  color: var(--colorBlanco);
}
a {
  text-decoration: none;
}
