.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.containerSearch {
    display: flex;
    align-items: center;
}

.input {
    width: 400px;
    height: 40px;
    padding: 20px;
    border: 2px solid black;
}

.searchI {
    width: 30px;
    height: auto;
    margin: 0 0 0 25px;
    cursor: pointer;
}

.orden {
    display: flex;
    align-items: center;
}

.orden p {
    font-family: 'Inter', sans-serif;
    margin: 0 5px 0 0;
}

.select {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid transparent;
    padding: 10px;
}
