.container {
  margin: 0 9vw;
  padding: 20px;
}

.coverImage {
  height: 200px;
  background-image: url('../../../public/terminoYCondiciones.JPG');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.content {
  margin: 0 10vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-family: "Nunito Sans", sans-serif;
  color: #a39583;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  font-size: 13.5px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  font-family: "Nunito Sans", sans-serif;
}

.button:hover {
  background-color: #e0e0e0;
}

.active {
  background-color: #ccc;
}

.paragraphsContainer {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  color: #b7ab9b;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  padding: 5px;
  margin-top: 25px;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  background-color: #a39583;
}

.card p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  text-align: center;
}

.thanks {
  margin-top: 35px;
  font-size: 14px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: #a39583;
}