.container {
  margin: 2rem 9vw;
  border-radius: 6px;
}

.container2 {
  display: flex;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.horizontalCarImage {
  max-width: 100%;
  height: auto;
}

.coverImage {
  width: 100%;
  height: 300px;
  background-image: url('../../../public/home.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.darkMode {
  background-color: #172A46;
  color: #fff;
}

.switch {
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchRight {
  justify-content: flex-end;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "☀️";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  content: "🌙";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}